.suite-banner {
  padding: 14px 30px;
  background-color: #073551;
  color: #ffffff;

  .repl-logo-white {
    width: 83px;
    height: 20px;
    background-image: url("/images/repl-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;

    .banner-arrow {
      position: relative;
      margin-left: 6px;
      top: 4px;
      right: 0;
      width: 9px;
      height: 16px;
      background-image: url("/images/banner-arrow.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover .banner-arrow {
      right: -4px;
    }
  }
}

.page-home {
  text-align: center;
  .landing-logo {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background-image: url("/images/support.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .preflight-logo {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    background-image: url("/images/preflight.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  p {
    margin: 30px auto;
    font-family: $font-family-ubuntu;
    font-size: 32px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 600px;
    }
  }
  .terminal {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: -200px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .cards-wrapper {
    padding: 50px;
    span {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: #9B9B9B;
      text-align: center;
    }
    .card {
      width: 600px;
      background-color: #ffffff;
      padding: 22px 20px;
      border-radius: 6px;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,0.16);
      max-width: 295px;
      box-sizing: border-box;
      margin-bottom: 30px;
      line-height: normal;
      color: #4a4949;
      font-weight: 500;
    }
    a {
      color: #3E5FA8;
      font-weight: bold;
      padding-bottom: 5px;
      display: inline-block;
      border-bottom: solid 1px #3E5FA8;
      cursor: pointer;
    }
    a:hover {
      color: #0538a5;
      text-decoration: none;
    }
  }
}
