.page-home {
  text-align: center;
  .landing-logo {
    width: 204px;
    height: 80px;
    margin: 0 auto;
    background-image: url("/images/kots.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  p {
    margin: 30px auto;
    font-family: $font-family-ubuntu;
    font-size: 22px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 460px;
    }
  }
  .terminal {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: -200px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
