.page-home {
  text-align: center;

  .logo-desktop-wrapper {
    height: 38px;
    width: 300px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  p {
    margin: 30px auto;
    font-family: $font-family-ubuntu;
    font-size: 22px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 460px;
    }
  }
  .terminal {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: -200px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
