*.DS_Store
.vscode/
.idea/
.cache/
**/.cache
*.swp

# Directories
node_modules/
public/
java/

tmp_swagger.adoc
swagger2markup-*.jar

# Logs
logs
*.log

# Yarn Integrity file
.yarn-integrity

# Local Netlify folder
.netlify