*.DS_Store
.vscode/
.idea/
*.swp

# Directories
node_modules/

java/

tmp_swagger.adoc
swagger2markup-*.jar

# Logs
logs
*.log

hugo
deps/
resources/_gen/
themes/hugo-whisper-theme/exampleSite/resources/_gen/
hugo.tar.gz
