$base-padding: 8px;

.SidebarFileTree {
  color: #9B9B9B;
  transition: all .2s ease;
  &:hover {
    color: #326DE6;
    cursor: pointer;
  }

  .SidebarFileTree:nth-child(1) {
    padding-top: 12px;
  }

  a {
    display: block;
    color: #9B9B9B;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 44px;
    position: relative;

   &:visited{
     color: #9B9B9B;
   }
  }
  
  .is-file a.active {
    font-weight: bold;
    color: #163166;
  }
  .sub-file a.active {
    font-weight: bold;
    color: #163166;
    &::after {
      position: absolute;
      background-color: #E9F0FF;
      content: "";
      display: block;
      height: 36px;
      width: 100%;
      z-index: -1;
      left: -10px;
      top: 3px;
    }
  }
}

.is-directory {
  margin: 15px 0;
  &.depth-0 {
    font-weight: bold;
    color: #163166;
    margin: 0 0 30px 0;
  }
}

.is-file {
  font-weight: 300;
  color: #323232;
}

.sub-dir {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;

  &.active {
    font-weight: bold;
    color: #163166;
  }
}

.sub-file {
  padding-left: 10px;
}
