.Info--wrapper {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  .Info--item {
    width: 40%;
    margin-bottom: 30px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: #F8F8F8;
    }
  }

  .InfoMobile--item {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: #F8F8F8;
    }
  }
}

.List--item {
  cursor: pointer;
  padding: 10px 10px;
 
  &:hover {
    background-color: #E5E5E5;
    color: #326DE6;
  }
}

.List--item.is-active,
.List--item.is-active .Lits--item:hover {
  background-color: #326DE6;
  color: #ffffff;
}

.close {
  float:right;
  margin-left:10px;
}

.RelatedSpecs--wrapper {
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    margin-top: 10px;
    border-top: 1px solid #C4C8CA;
  }
}

.category-postgres-connection-string {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/postgres.svg");
}
.category-mysql-connection-string {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  z-index: 1;
  background-image: url("../../images/category-icons/mysql.svg");
}
.category-kubernetes {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/kubernetes.svg");
}
.category-storage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/storage.svg");
}
.category-openebs {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/openebs.svg");
}
.category-disk {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/disk.svg");
}
.category-rook {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/rook.svg");
}
.category-github {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/github.svg");
}
.category-gitlab {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/gitlab.svg");
}
.category-salesforce {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/salesforce.svg");
}
.category-cloud-provider {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/cloud-provider.svg");
}
.category-amazon-s3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url("../../images/category-icons/amazon-s3.svg");
}

.activeTag {
  background-color: #E9F0FF;
  padding: 5px;
  color: #4A4A4A;
}

.Contributors--wrapper {
    margin-left: 10px;
  .contributer-icon {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
  }
}

.ExploreSearch--wrapper {
  max-height: 100vh;

  .ais-SearchBox-wrapper {
    position: relative;
    width: 100%;
  }

  .ais-SearchBox-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #E5E5E5;
    outline: 0;
    font-size: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #323232;
    padding: 10px 11px 11px;
    transition: border .2s;
    padding-left: 35px;
    min-height: 50px;

    ::placeholder {
      color: #C5C5C5
    }
  }

  .ais-Stats-text {
    color: #C5C5C5;
    font-size: 12px;
    font-weight: 500;
  }

  .ais-SearchBox-SearchIcon {
    position: absolute;
    left: 10px;
    top: 15px;
    background: transparent url("../../images/main_spritesheet.svg") left no-repeat;
    background-position: -24px 0px;
    width: 22px;
    height: 22px;
  }

  .ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
  }
}