.content {
  h2 .header-anchor,
  h3 .header-anchor {
    visibility: hidden;
  }
  h2:hover .header-anchor,
  h3:hover .header-anchor {
    visibility: visible;
  }
  .header-anchor {
    text-decoration: none;
    fill: currentColor;
    opacity: 0.3;
  }
  .header-anchor:hover {
    opacity: 1;
  }
}
