.docs-menu {
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 0.9rem;
      line-height: 1.4;
      font-weight: 400;
      margin: 0;
      padding: 4px 0 4px 0;
      &.active a {
        color: $primary;
      }
      a {
        color: $black;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .active {
    color: $primary;
    font-weight: bold;
  }

  .is-parent {
    font-weight: bold;
  }

  .is-page {
    padding-left: 10px;
  }

  .is-descendant {
    padding-left: 20px;
    color: $primary;
  }
}
