.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 250px;
  }
  span {
    width: 250px;
    height: 25px;
    background-image: url("/images/troubleshoot-full.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  width: 54px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  span {
    width: 250px;
    height: 25px;
    background-image: url("/images/troubleshoot-full.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
