ol.breadcrumbs {
  position: absolute;
  top: -15px;
  @include media-breakpoint-up(sm) {
    top: 10px;
  }

  li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
  }
  li::after {
    display: block;
    content: "/";
    position: absolute;
    right: -15px;
    top: 0;
    color: #326DE6;
  }
  li:first-child {
    margin: 0;
  }
  li:first-child::after,
  li:last-child::after {
    display: none;
  }
}