@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#___gatsby {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

#gatsby-focus-wrapper {
  display: flex;
  flex: 1 1;
}

body {
  font-family: "Roboto Mono", "monospace";
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  .body-copy {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  }
}

body a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contain-700 {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.contain-1280 {
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &.border {
    border-bottom: 1px solid #E5E5E5;
  }

  &.gradient {
    background: rgb(230,235,246);
    background: linear-gradient(0deg, rgba(230,235,246,1) 0%, rgba(39,86,179,0) 100%);
  }
}

.troubleshoot-logo {
  background-image: url("../../images/troubleshoot.svg");
  background-size: 100%;
  display: inline-block;
  background-repeat: no-repeat;
}

.mobile-container {
  width: 100%;
  padding: 130px 20px;
  margin: 0 auto;
  box-sizing: border-box;
} 

.docs-mobile-container {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}

.docs-container {
  width: 100%;
  padding: 100px 300px;
  box-sizing: border-box;
}

.docsWidth {
  width: 100%;
  max-width: 860px;
}

.link {
  color: #326DE6;
  cursor: pointer;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.code {
  font-family: monospace;
}

.wrapperForm {
  border: 1px solid #C4C7CA;
  border-radius: 4px;
  padding: 18px 20px;
  background-color: #F5F8FC;
}

.mobile-wrapperForm {
  border: 1px solid #C4C7CA;
  border-radius: 4px;
  padding: 18px 20px;
  background-color: #F5F8FC;
  width: 260px;
  flex-direction: column;
}

.FormLabel {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}

.hidden-input {
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
}

.Mobile--wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid #C4C8CA;
  padding: 20px;
}

.two-btn-wrapper {
  .Button:first-child {
    margin-bottom: 20px;
  }
}

.tab {
  &.is-active-blue {
    color: #4A4A4A;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      display: block;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      background-color: #FFFFFF;
      border-top: 1px solid #FFFFFF;
      border-left: 1px solid #FFFFFF;
      left: 50%;
      margin-left: -4px;
    }
  }
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) {
  .docs-container {
    width: 100%;
    padding: 100px 0px 20px 260px;
    box-sizing: border-box;
  }
  .two-btn-wrapper {
    .Button:first-child {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .container {
    padding: 0 30px;
  }
  .docs-container {
    width: 100%;
    padding: 100px 0px 20px 260px;
    box-sizing: border-box;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  .docs-container {
    width: 100%;
    padding: 100px 0px 20px 260px;
    box-sizing: border-box;
  }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  .docs-container {
    width: 100%;
    padding: 100px 20px 20px 300px;
    box-sizing: border-box;
  }
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {
  .container {
    &.full {
      max-width: none;
    }
  }
  .docs-container {
    width: 100%;
    padding: 100px 20px 20px 300px;
    box-sizing: border-box;
  }
}

.hidden {
  display: none;
}