.u-color--tuna {
  color: #323232;
}

.u-color--tarawera {
  color: #073551;
}

.u-color--dustyGray {
  color: #9b9b9b;
}

.u-color--tundora {
  color: #4a4a4a;
}

.u-color--silver {
  color: #C5C5C5;
}

.u-color--vidaLoca {
  color: #65A61D;
}

.u-color--chestnut {
  color: #BC4752;
}

.u-color--astral {
  color: #337AB7;
}

.u-color--royalBlue {
  color: #326DE6;
}

.u-color--biscay {
  color: #163166;
}

.u-background--alabaster {
  background-color: #F8F8F8;
}