<script async defer src="https://buttons.github.io/buttons.js"></script>
<div id="main-menu" class="main-menu">
  <!-- <div class="searchbar-container">
    <input id="searchbar" class="searchbar" type="text" placeholder="Search Docs" />
    <div id="searchbar-results" class="searchbar-results">
    </div>
  </div> -->
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
  <div class="search">
    <i id="searchIcon" class="fa fa-search"></i>
    <div id="searchTooltip" class="search-tooltip">
      <div class="search-tooltip-content">
        <div class="search-input-wrapper">
          <input type="text" id="searchInput" class="search-input" placeholder="Search Docs">
        </div>
        <div id="search-results"></div>
      </div>
    </div>
  </div>
  <div style="margin-left:30px">
    <a class="github-button" href="https://github.com/replicatedhq/troubleshoot" data-icon="octicon-star"
      data-size="large" data-show-count="true" aria-label="Star replicatedhq/troubleshoot on GitHub">Star</a>
  </div>
</div>