{{ $currentNode := . }}

<div class="docs-menu">
  <h3>
    <a href="{{ .FirstSection.Params.redirect }}">
      {{ if eq .Section "reference" }}
        Vendor Documentation
      {{ else }}
        {{ .Section | humanize }} 
      {{ end }}
  </h3>
  <ul>
    {{ range .FirstSection.Pages }}
      {{ if .IsPage }}
        <li class="{{ if eq .Title $currentNode.Title }}active{{ end }}">
          <a href="{{ .Permalink | relURL }}">
            {{ if .Params.linktitle }}
              {{ .Params.linktitle }}
            {{ else }}
              {{ .Title }}
            {{ end }}
          </a>
        </li>
      {{ else }}
        <li class="is-parent {{ if eq .Title $currentNode.Title }}active{{ end }}">
          <a href="{{ or .Params.redirect .Permalink }}">
            {{ if .Params.linktitle }}
              {{ .Params.linktitle }}
            {{ else }}
              {{ .Title }}
            {{ end }}
          </a>
        </li>
        {{ if $currentNode.IsDescendant . }}
          {{ range .Pages }}
            <li class="is-descendant {{ if eq .Title $currentNode.Title }}active{{ end }}">
              <a href="{{ .Permalink | relURL }}">
                {{ if .Params.linktitle }}
                  {{ .Params.linktitle }}
                {{ else }}
                  {{ .Title }}
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
