.SelectKubernetes--wrapper {
  position: relative;

  .css-1hwfws3 {
    padding:10px;
  }

  .css-yk16xz-control {
    border-radius: 20px;
  }

  .css-1pahdxg-control {
    border-radius: 20px;
  }
}

.AddOns--wrapper {
  border: solid 1px #DFDFDF;
  background-color: #ffffff;
  border-radius: 4px;
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow .3s;

  &:nth-child(3n) {
    margin-right: 0;
  }

  .text-wrapper {
    font-weight: 600;
    color: #6D7278;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.mobileAddOns--wrapper {
  border: solid 1px #DFDFDF;
  background-color: #ffffff;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow .3s;

  .text-wrapper {
    font-weight: 600;
    color: #6D7278;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.Wrapper .item{
  border-right: 1px solid #DFDFDF;
  line-height: 15px;
  
}

.addOnsBackground {
  background: linear-gradient(rgba(245,248,252,0) 0%, rgba(245,248,252,93) 100%);
  padding: 30px 0px 20px 0px;
}

.AddOns--footer {
  background-color: #326DE6;

  .AddOns--background {
    background: url("../../images/kurl-footer@2x.png");
  }

  .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }
}

@media screen and (min-width: 60em) {
  .AddOns--wrapper {
    flex: 1 1 calc(50% - 30px);
  }
  .AddOns--wrapper:nth-child(3n) {
    max-width: calc(50% - 30px);
  }
}

@media screen and (min-width: 80em) {
  .AddOns--wrapper {
    max-width: calc(33.33% - 30px);
    flex: 1 1 calc(33.33% - 30px);
  }
}