.error-highlight {
  background:#FBEDEB;
  position: absolute;
}

.warn-highlight {
  background:#FBF6EB;
  position: absolute;
}

.info-highlight {
  background:#EBF0FB;
  position: absolute;
}

.AbsoulteLintExpressions-wrapper {
  position: absolute;
  top: 324px;
  right: 18px;
  z-index: 10;
  height: 408px;
}

.ErrorBlock {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #FFF1F1;
  color: #8C3123;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}