.error-highlight {
  background:#FBEDEB;
  position: absolute;
}

.warn-highlight {
  background:#FBF6EB;
  position: absolute;
}

.info-highlight {
  background:#EBF0FB;
  position: absolute;
}

.LintExpressions-wrapper {
  min-height: 44px;
  padding: 10px;
  background-color: #F8F8F8;
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
}

.MobileLintExpressions-wrapper {
  position: absolute;
  z-index: 100;
  height: 400px;
}

.ErrorBlock {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #FFF1F1;
  color: #8C3123;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.EditorHeader-wrapper {
  background: #F8F8F8;
  border-top: 1px solid #C5C5C5;
  border-left: 1px solid #C5C5C5;
  border-right: 1px solid #C5C5C5;
  box-sizing: border-box;
  padding: 12px;
}

.AbsoluteToggleLinter-wrapper {
  position: absolute;
  top: 360px;
  right: 10px;
}

.Tags-wrapper {
  display: inline;
  padding: 0px;

  &:last-child {
    span::after {
      content: "";
    }
  }
}

.tag-card {   
  font-family: "Helvetica Neue";
}

.comma::after{
  content: ",";
}
