.Input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #C4C8CA;
  border-radius: 4px;
  outline: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  color: #323232;
  padding: 7px 12px 8px;
  transition: border .2s;

  &.width-auto {
    width: auto;
  }

  &:active,
  &:focus {
    border-color: #4990E2;
  }

  &.larger {
    padding: 11px 12px 12px;
  }

  &.has-error,
  &.has-error:focus,
  &.has-error:active {
    border-color: #EE5042;
  }
  &.is-disabled {
    user-select: none;
    cursor: not-allowed;
    background-color: #F8F8F8;
    border-color: #DFDFDF;
    color: #717171;
  }
}