sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
target_platform=linux
target_arch=x64
target_libc=glibc
runtime=napi
target=7
fallback_to_build=false
build_from_source=false 