.console-toggle {
  position: absolute;
  z-index: 100;
  right: 12px;
  top: 7px;
  padding: 4px;
  cursor: pointer;
}
.console-wrapper {
  position: absolute;
  transform: translateX(100%);
  transition: transform .2s;
  box-shadow: -1px 0 3px rgba(0,0,0,.16);
  top: 0;
  bottom: 0;
  right: 0;
  .required-label {
    font-size: 14px;
    position: relative;
    top: -1px;
    font-weight: 500;
    color: #BC4752;
  }
  .Input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    border: 1px solid #C4C8CA;
    outline: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    color: #323232;
    padding: 7px 12px 8px;
    transition: border .2s;
  
    &.width-auto {
      width: auto;
    }
  
    &:active,
    &:focus {
      border-color: #4990E2;
    }
  
    &.larger {
      padding: 11px 12px 12px;
    }
  
    &.has-error,
    &.has-error:focus,
    &.has-error:active {
      border-color: #EE5042;
    }
    &.is-disabled {
      user-select: none;
      cursor: not-allowed;
      background-color: #F8F8F8;
      border-color: #DFDFDF;
      color: #717171;
    }
  }

  &.visible {
    position: relative;
    transform: translateX(0);
  }
}
.Linter-wrapper {
  border: 1px solid #C4C8CA;
  background-color: #ffffff;
}
.Linter-wrapper .Linter-header {
  padding: 8px 12px;
  background-color: #F5F8FC;
  line-height: 16px;
  border-bottom: 1px solid #C4C8CA;
}
.Linter-wrapper .ConsoleBlock {
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
}
.Linter-wrapper.is-visible {
  position: relative;
  /* transform: translateX(0); */
  visibility: visible;
  max-width: 400px;
}
.Linter-wrapper.no-max {
  max-width: none;
}
.Linter-wrapper .ConsoleBlock .icon {
  position: relative;

  &.u-linkIcon--blue {
    top: 4px;
  }
}
.Linter-wrapper .ConsoleBlock.error {
  background-color: #FBEDEB;
  border-bottom: 1px solid #E9DBDB;
  color: #BC4752;
}
.Linter-wrapper .ConsoleBlock.warn {
  background-color: #FFF1DA;
  border-bottom: 1px solid #F9E8CB;
  color: #717171;
}
.Linter-wrapper .ConsoleBlock.info {
  background-color: #F8F8F8;
  border-bottom: 1px solid #F0F0F0;
  color: #717171;
}
.Linter--toggle {
  margin: 10px 20px 20px;

  & > div {
    flex: 1;
  }

  span {
    flex: 1;
    font-size: 12px;
    padding: 5px;
    border: solid 1px #9B9B9B;
    cursor: pointer;
    text-align: center;
  }

  .is-active {
    background: #9B9B9B;
    color: #fff;
  }
  .not-active {
    background: transparent;
    color: #9B9B9B;
  }
}
