.MobileFilters {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s,visibility .35s,height .35s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
}

.MobileFilters-menu {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  z-index: 90;
}

.MobileFilters.is-open {
  transform: translateX(0);
  opacity: .99;
  visibility: visible;
  height: 100%;
  z-index: 300;
}

.MobileFilters-bg {
  opacity: 0;
  background-color: rgba(0,0,0,.16);
  transition: all .1s ease-in-out;
}


.MobileFilters-items {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  visibility: collapse;
  opacity: 0;
  transition: all .15s cubic-bezier(.25, 0, .25, 1.75), opacity .1s linear;
}
