{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home page-preflight{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="Preflight--wrapper strip strip-pattern-blue">
  <div class="flex1 flex-column container pt-12 pb-16">
    <div class="u-flexTabletReflow flex1 justify-content-center">
      <div class="flex-column flex1 left-block-wrapper">
        <div class="row">
          <div class="preflight-logo"></div>
          <div>
            <div class="content flex flex-column">
              <code>curl https://krew.sh/preflight | bash</code>
              <code> kubectl preflight https://preflight.myapp.com</code>
            </div>
          </div>
        </div>
        <div class="row">
          <p>Package Application Conformance Checks With Any Kubernetes Application</p>
        </div>
        <div class="button-wrapper">
          <a class="button primary-button" href="/docs/preflight/overview/">
            Get started
          </a>
          <a class="button border-button" href="/reference/getting-started/overview/">
            Full docs
          </a>
        </div>
      </div>
      <div class="flex1 flex-column justify-content-center right-block-wrapper">
        <div class="iframe-placeholder">
          <script id="asciicast-283519" src="https://asciinema.org/a/283519.js" data-autoplay="true" data-loop="1"
            data-cols="120" async></script>
        </div>
      </div>
    </div>
  </div>
</div>
{{ if .Site.Params.homepage_image }}
<div class="strip">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="terminal">
          <img src="{{ .Site.Params.homepage_image | relURL}}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}