{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="strip strip-pattern-blue">
  <div class="container pt-12 pb-16 flex flex-column justify-content-center align-items-center">
    <div class="row">
      <div class="landing-logo"></div>
      <div class="col-12">
        <div class="content flex flex-column">
          <code>curl https://knew.sh/support-bundle</code>
          <code> kubectl support-bundle https://support.myapp.com</code>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <p>Package Customizable Support Bundle Collection And Analysis With Any Kubernetes Application</p>
    </div>
    <div class="button-wrapper">
      <a class="button primary-button" href="/support-bundle/overview/">
        Get started
      </a>
      <a class="button border-button" href="/reference/getting-started/overview/" target="_blank">
        Full docs
      </a>
    </div>
  </div>
</div>
{{ if .Site.Params.homepage_image }}
<div class="strip">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="terminal">
          <img src="{{ .Site.Params.homepage_image | relURL}}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}