.icon {
  background-image: url("../../images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  cursor: default;
  position: relative;
}
.icon.clickable {
  cursor: pointer;
}

.icon.preflight-small {
  width: 24px;
  height: 24px;
  background-position: 0 -24px;
}
.icon.support-small {
  width: 24px;
  height: 24px;
  background-position: 0 -49px;
}
.icon.analyze-icon-large {
  width: 123px;
  height: 140px;
  background-position: -26px -177px;
}
.icon.report-icon-large {
  width: 110px;
  height: 140px;
  background-position: -169px -177px;
}
.icon.redact-icon-large {
  width: 111px;
  height: 140px;
  background-position: -169px -33px;
}
.icon.collect-icon-large {
  width: 139px;
  height: 141px;
  background-position: -26px -32px;
}
.icon.hamburger-icon {
  width: 12px;
  height: 10px;
  background-position: 0 -127px;
}
.icon.gray-x-icon {
  width: 11px;
  height: 11px;
  background-position: 0 -106px;
  cursor: pointer;
}
.icon.white-x-icon {
  width: 11px;
  height: 11px;
  background-position: 0 -93px;
  cursor: pointer;
}
.icon.tblshoot-icon-only {
  width: 81px;
  height: 79px;
  background-position: 0 -322px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40.5px;
  margin-left: -39.5px;
}
.icon.tblshoot-yaml-doc {
  width: 52px;
  height: 66px;
  background-position: -84px -322px;
}
.icon.deploy-app-icon {
  width: 59px;
  height: 75px;
  background-position: -138px -322px;
}
.icon.add-blue-icon {
  width: 18px;
  height: 18px;
  background-position: 0 -140px;
}
.icon.green-checkmark-icon {
  width: 18px;
  height: 18px;
  background-position: 0 -160px;
}
.icon.red-warning-icon {
  width: 18px;
  height: 17px;
  background-position: 0 -180px;
}
.icon.repeat-cycle-icon {
  width: 18px;
  height: 18px;
  background-position: 0 -199px;
}
.icon.gray-expand-icon {
  width: 10px;
  height: 6px;
  background-position: 0 -119px;
  transition: transform .2s;

  &.expanded {
    transform: rotate(-180deg);
  }
}
.icon.tag-icon {
  width: 12px;
  height: 12px;
  background-position: -12px -74px;
}
.icon.backArrow-icon {
  width: 12px;
  height: 12px;
  background-position: 0 -219px;
}
.icon.graySupport-icon {
  width: 20px;
  height: 20px;
  background-position: 0 -401px;
}
